/* Estilos gerais */
body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14px;
  line-height: 20px;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a:hover {
  color: #b24d53 !important;
  text-decoration: none;
  transition: all .5s ease;
}
/* Fim estilos gerais */

/* Header */
.header {
  background: #040505;
  border-bottom: 1px solid #b24d53;
}

.header .navbar {
  background: #040505 !important;
  font-weight: bold;
  padding: 15px 0px;
  border-bottom: none;
}

.header .container {
  border-bottom: none;
}

.header .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  font-size: 14px;
  line-height: 20px;
  transition: all .5s ease;
}

.header .navbar-dark .navbar-nav .active .nav-link {
  color: #b24d53;
}

.header .navbar img {
  width: 100px;
}

.header_area {
  padding: 20px;
}

.header .dropdown-menu {
  border-radius: 0px;
  border: 1px solid #b24d53;
}

.header .dropdown-menu .dropdown-item {
  letter-spacing: .1em;
  font-size: 14px;
  line-height: 20px;
}
/* Header Final */

.carousel-inner img {
  margin-top: 75px;
  height: 600px;
  padding-bottom: 20px;
}

/* Main */
.body {
  background-color: #131212;
}

.padrao {
  height: 178.96px;
}

.main {
  padding: 0px 30px;
  padding-bottom: 26px;
}

.cards {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.card {
  color: #ffffff;
}

.card-title {
  justify-content: center;
}

.adicionaCard {
  text-align: center;
  margin-bottom: 10px;
}
/* Main Final */

/* Footer */
.footer {
  background: #040505;
  padding-top: 20px;
  padding-bottom: 10px;
  color: #e0e1e7;
  border-top: 1px solid #b24d53;
}

.footer .container {
  border-top: none;
}

.footer h2 {
  color: #b24d53;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.footer_copy {
  text-align: center;
  padding-top: 20px;
}

.footer .sobre p {
  margin-bottom: 1rem;
}

.footer .contato {
  padding-bottom: 15px;
}

.footer .sobre h2:before {
  content: "";
  display: block;
  width: 63px;
  height: 2px;
  background: #b24d53;
  margin: 6px 0 2px 1px;
}

.footer .contato h2:before {
  content: "";
  display: block;
  width: 85px;
  height: 2px;
  background: #b24d53;
  margin: 6px 0 2px 1px;
}

.footer .redes_sociais h2:before {
  content: "";
  display: block;
  width: 139px;
  height: 2px;
  background: #b24d53;
  margin: 6px 0 2px 1px;
}
/* Footer Final */

/* Login */
.text-info {
  color: #b24d53 !important;
}
.btn-info {
  color: #040505;
  background-color: #b24d53;
  border-color: #b24d53;
}

/* media queries */
@media screen and (max-width: 767px) {
  .carousel {
    display: none;
  }

  .main {
    margin-top: 105px;
  }
  .cards-main {
    margin-top: 10px;
  }
  .menu {
    display: none;
  }
  .menu-mobile {
    width: 100%;
    height: 100px;
    background-color: #040505;
    color: white;
  }
  #menu-icone {
    display: none;
  }
  #icone {
    font-size: 2.5em;
    position: absolute;
    right: 20px;
    color: #b24d53;
    z-index: 9999;
  }
  #icone-fechar {
    font-size: 2.5em;
    position: absolute;
    right: 20px;
    color: #b24d53;
    z-index: 9999;
    display: none;
  }

  .btn-primary {
    background-color: #b24d53 !important;
    border: #b24d53 !important;
  }
}

@media screen and (min-width: 768px) {
  .menu-mobile {
    display: none;
  }
}

/* botao menu mobile */
.tela-mobile {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-content: center;
  top: 0px;
  left: 0px;
  height: 0%;
  width: 100%;
  z-index: 999;
  overflow: hidden;
  transition: height 0.5s;
}

.tela-mobile li {
  display: block;
  width: 100%;
  padding: 10px;
  align-content: center;
}

.tela-mobile li a {
  display: block;
  text-align: center;
}

#menu-icone:checked ~ label i:last-child {
  display: block;
  position: fixed;
}

#menu-icone:checked ~ label i:first-child {
  display: none;
}

#menu-icone:not(checked) ~ label i:last-child {
  display: none;
}

#menu-icone:not(checked) ~ label i:first-child {
  display: block;
}

#menu-icone:checked ~ ul {
  height: 100%;
}
